.Faceblur {
	background-color: pink;
	// padding: 1rem;
	height: 88%;
	width: 100%;
	// min-height: 88%;
	display: flex;
	flex-direction: row;

	@media only screen and (max-width: 900px) {
		flex-direction: column;
	}

	&__form {
		height: 40rem;
		width: 100%;
		background-color: green;
		display: flex;
		flex-flow: column nowrap;
		justify-content: center;
		align-items: center;

		padding: 1rem;

		&__input-query {
			height: 50%;
			width: 100%;
			background-color: pink;
			display: flex;
			flex-flow: row nowrap;
			justify-content: center;
			align-items: center;
		}

		&__radio-buttons {
			height: 50%;
			width: 100%;
			background-color: skyblue;
			display: flex;
			flex-flow: row nowrap;
			justify-content: space-around;
			align-items: center;

			input[type=radio] {
				width: 1.5rem;
			}
		}

		input {
			outline: none;
			border: none;
			background-color: black;
			color: white;
			width: 40rem;
			height: 3rem;
			padding: 1rem;
			margin-right: 2rem;
		}

		button {
			outline: none;
			border: .3rem solid black;
			background-color: white;
			color: black;
			height: 3rem;
			padding: 1rem;

			display: flex;
			align-items: center;
		}
	}
}

.Faceblur__options {
	background-color: sandybrown;
	height: 100%;
	width: 40%;

	display: flex;
	flex-direction: column;
	align-items: center;

	@media only screen and (max-width: 900px) {
		height: 30%;
		width: 100%;
	}
}

.Faceblur__display {
	height: 100%;
	width: 60%;
	padding: 3rem;
	background-color: salmon;
	// flex: 1;
	// word-wrap: break-word;

	display: flex;
	justify-content: center;
	align-items: center;

	&--box {
		// These dimensions don't actually matter, the image properties are the only things that are actually affected.
		width: 45rem;
		height: 55rem;
		// max-width: 80rem;
		// max-height: 50rem;
		background-color: black;
		// box-shadow: 2rem 2rem 2rem white;
		padding: 1rem;

		position: relative;

		@media only screen and (max-width: 900px) {
			width: 70rem;
			height: 42rem;
		}
	}

	&--image {
		height: auto;
		width: auto;
		max-height: 50rem;
		max-width: 45rem;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);

		@media only screen and (max-width: 900px) {
			max-height: 40rem;
			max-width: 70rem;
		}
	}

	@media only screen and (max-width: 900px) {
		height: 70%;
		width: 100%;
	}
}

/* Remember that flex-flow combines direction and wrappage. */
