.footer {
	background-color: white;
	border: 1px dashed black;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
}

.footer__link:active,
.footer__link:link {
	text-decoration: none;
	outline: none;
	color: black;
}

.footer__link:hover {
	color: blue;
}
