.Home {
	/* background-image: linear-gradient(to right, aliceblue, seashell), url(/img/brain.png); */
	/* background-color: blue; */
	color: white;
	padding: 1rem 2rem;
}

.display {
	height: 85vh;
	background-image: url(/img/tech_background.jpg);
	background-size: cover;
	background-position: top;
	display: flex;
	justify-content: center;
	align-items: center;
}

.display__box {
	margin-top: 5rem;
	background-color: crimson;
	opacity: .85;
	height: 40%;
	width: 60%;
}
